<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Task</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <form action="/tasks/<%= task._id %>?_method=patch" method="post">
        <input type="text" name="task[name]" value="<%= task.name %>" />
        <button type="submit">Save</button>
      </form>
      <form action="/tasks/<%= task._id %>?_method=delete" method="post">
        <button>Delete</button>
      </form>
    </main>
  </body>
</html>
